@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-display: swap; 
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/instrument-sans-v1-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/instrument-sans-v1-latin-500.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/instrument-sans-v1-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/instrument-sans-v1-latin-700.woff2') format('woff2'); 
}
body {
   font-family: "Instrument Sans", sans-serif; 
}

.custom-scroll::-webkit-scrollbar {

  display: none;
}
.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.MuiMenuItem-root.Mui-selected{
  color:#633CFF;
  background-color: transparent !important;
}
.MuiButtonBase-root-MuiMenuItem-root{
  color:#373737
}

.swal2-title {
  font-size: 1.5rem !important;
  font-family:"Instrument Sans",sans-serif; 
}
