@tailwind base;
@tailwind components;
@tailwind utilities;

 
body {
   font-family: "Instrument Sans",sans-serif; 
}

.custom-scroll::-webkit-scrollbar {

  display: none;
}
.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.MuiMenuItem-root.Mui-selected{
  color:#633CFF;
  background-color: transparent !important;
}
.MuiButtonBase-root-MuiMenuItem-root{
  color:#373737
}

.swal2-title {
  font-size: 1.5rem !important;
  font-family:"Instrument Sans",sans-serif; 
}
